<header>
</header>
<section class="heroes-wrapper">
<div class="row">
  <div class="col-xs-6">
  	<ul>
	{{#each hero in model}}
		<li>{{#link-to 'heroes.hero' hero}}{{hero.name}}{{/link-to}}</li>
	{{/each}}
	</ul>
  </div>
  <div class="col-xs-6">
{{outlet}}
  </div>
</div>
</section>
<footer></footer>